@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hi, my name is Thomas Stone and I built this webpage to add to my github portfolio! Find me on LinkedIn or email me at tstone6431@gmail.com.</p>
<p>
    <a class="btn btn-default" href="https://www.linkedin.com/in/thomas-stone-8a8946109/" target="_blank">LinkedIn  &raquo;</a>
</p>
